<h1>ツイート一覧</h1>

<% @tweets.each do |tweet| %>
  <hr>
  <h4><%= link_to tweet.user.name, user_path(tweet.user.id) %></h4>
  <p>
    <%= link_to tweet.body, tweet_path(tweet.id) %>
  </p>
  <% if tweet.favorited_by?(current_user) %>
    <p>
      <%= link_to tweet_favorites_path(tweet.id), method: :delete do %>
        <i class="fa fa-heart fav-btn"></i><%= tweet.favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to tweet_favorites_path(tweet.id), method: :post do %>
        <% if tweet.favorites.count == 0 %>
          <i class="fa fa-heart unfav-btn"></i>
        <% else %>
          <i class="fa fa-heart unfav-btn"></i><%= tweet.favorites.count %>
        <% end %>
      <% end %>
    </p>
  <% end %>
  <% if current_user != tweet.user %>
    <% if tweet.user.followed_by?(current_user) %>
      <p><%=link_to "フォロー済み", user_relationships_path(tweet.user.id), method: :delete %></p>
    <% else %>
      <p><%=link_to "フォローする", user_relationships_path(tweet.user.id), method: :post %></p>
    <% end %>
  <% end %>
<% end %>