<div class="container form col-md-6">
  <h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワード(6文字以上)" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="password-btn">
    <%= f.submit "送信", class: "btn btn-outline-warning" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>