<div class="container form col-md-6">

  <%= render "devise/shared/error_messages", resource: resource %>
  <h2>パスワードを忘れてしまった場合</h2>
  <p>ご登録いただいているメールアドレスを入力してください。</p>
  <p>メールアドレス宛にパスワード変更メールを送ります。</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="password-btn">
    <%= f.submit "送信", class: "btn btn-outline-warning" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>