<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>DeviseSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %> 
          <strong><%= current_user.name %></strong>さんでログインしています
          <%= link_to "新規投稿", new_tweet_path, class: "under-line" %> | 
          <%= link_to "マイページ", user_path(current_user) %> | 
          <%= link_to "ツイート一覧", tweets_path %> | 
          <%= link_to "ユーザー一覧", users_path %> | 
          <%= link_to 'プロフィール変更', edit_user_registration_path %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "サインイン", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
